.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.title {
    font-weight: 600;
    font-size: 36px;
    color: white;
    text-align: center;
}

.animate-hue {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.profile-container {
    display: flex;
    align-items: center;
    border-radius: 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100vw;
}