.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.title {
    font-weight: 800;
    font-size: 46px;
    color: white;
    text-align: center;
}

.animate-hue {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 30px;
    
}