.nav-button {
    background-color: transparent;
    border: none;
    color: white;
    margin: 10px;
    font-family: 'DM Sans';
    cursor: pointer;
}

.nav-left {
    display: flex;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100vw;
}